html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
}
button {
    background-color: transparent;
    border: none;
}
input {
    border: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}