@import '_vars';
@import '_global';
@import '_fonts';

// <---------HEADER-------->
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
}

.header_logo {
    max-width: 144px;
}

.logo {
    width: 100%;
    height: auto;
}

.header__text {
    margin: 0 45px 0 auto;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.header__btn:focus {
    border: 1px solid green;
}

.header__btn-login {
    background-color: $green;
    margin-right: 3px;
}

.header__btn-register {
    background-color: $red;
}

.header__menu {
    background-color: $bgdark;
    color: #fff;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 61px;
}

.nav-menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 28px;
        }
    }

    a {
        font-size: 14px;
        font-weight: 500;
    }
}

// <---------HEADER-------->

// <---------SEARCH-------->
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 535px;

    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;

        &-form {
            max-width: 670px;
            width: 100%;
            margin: 0 auto;
            position: relative;

            input {
                display: block;
                width: 100%;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                font-size: 14px;
                font-weight: 500;
                padding: 0 60px 0 25px;

                &:focus {
                    border: 1px solid green;
                }

                &::placeholder {
                    color: #90a4ae;
                }
            }
        }

        button {
            position: absolute;
            right: 12px;
            top: 50%;
            z-index: 5;
            transform: translate(0, -50%)
        }
    }

    &__title {
        font-size: 48px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

// <---------SEARCH-------->

// <---------PRODUCTS-------->
.products {
    background-color: $greybg;
    padding: 110px 0;
}

.products_title {
    text-align: center;
    margin-bottom: 56px;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 56px;

    button {
        padding: 10px 20px;
        background-color: #fff;
        color: $bgdark;
        font-size: 14px;
        text-align: center;
        transition: all .3s linear;

        &.mixitup-control-active {
            color: #fff;
            background-color: $red;
        }

        &+button {
            margin-left: 2px;
        }
    }
}

// box-items maxitUP
.products__inner-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 43px;
}

.products__item {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.products__item-img {
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.products__item-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 86px;
    align-items: center;
    border-bottom: 1px solid $border;
    ;
    color: $bgdark;
}

.products__item-name {
    max-width: 310px;
    font-weight: 500;

    a {
        display: block;
    }
}

.products__item-title {
    font-size: 18px;
    margin-bottom: 9px;
}

.products__item-category {
    font-size: 14px;
    color: $green;
}

.products__item-price {
    font-size: 20px;
    font-weight: 700;
}

.products__item-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 70px;
    align-items: center;
}

.products__item-author {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    max-width: 250px;

    span {
        display: inline-flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
}

.products__item-star {
    display: flex;
    align-items: center;
    font-size: 12px;

    span {
        color: $bgdark;
        font-weight: 500;
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 0 4px;
        background-color: #fff;
        padding: 17px 32px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        font-size: 16px;
        color: $bgdark;
        transition: all .3s linear;

        &.mixitup-control-active {
            color: #fff;
            background-color: $red;
        }
    }
}

// <---------PRODUCTS-------->
// <---------SLIDER-PRODUCTS-------->
.slider-products {
    padding: 120px 0;
}

.slider-products__title {
    text-align: center;
    margin-bottom: 50px;
}

.products__slider-dots {
    margin-top: 33px;
    text-align: center;

    li {
        font-size: 0;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        display: inline-block;
        transition: all .2 linear;

        &+li {
            margin-left: 7px;
        }

        &.slick-active {
            background-color: #8bc34a;
        }
    }

    button {
        outline: none;
    }
}

// <---------SLIDER-PRODUCTS-------->

// <---------ADVANTAGES-------->
.advantages {
    background-color: $bgdark;
    text-align: center;
    padding: 120px 0;

    &__title {
        color: #fff;
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        justify-content: space-between;

    }

    &__item {
        max-width: 370px;
        width: 100%;
        text-align: center;
        
        &-icon {
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            transition: all .2s linear;
            & path {
                transition: all .2s linear;
            }
        }

        &-title {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 25px;
            transition: all .2s linear;
        }
        &:hover &-icon {
            background-color: $green;
        }
        &:hover &-title {
            color: $green;
        }
        &:hover &-icon path{
            
                fill: #fff;
            
        }

        &-text {
            color: #b0bec5;
        }
    }
}

// <---------ADVANTAGES-------->